:root {
    --pe-color : #000000;
}

body {
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: #1D3557;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 700;
}

.button-secondary {
    width: 133px;
    height: 40px;
    background-color: #ffff;
    color: var(--pe-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-primary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #ffff;
    border: none;
    font-size: 16px;
    font-weight: 400;
}